@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


$color-turquoise: #00D4FF;
$color-coral: #ed7947;
$color-dimgray: #4c5d67;
$color-darkslategray: #37474f;
$color-black: #0b1f34;


$body-bg: $color-black;
$font-family-sans-serif: 'Play', sans-serif;

//$colors: (
//        "blue":       $blue,
//        "indigo":     $indigo,
//        "purple":     $purple,
//        "pink":       $pink,
//        "red":        $red,
//        "orange":     $orange,
//        "yellow":     $yellow,
//        "green":      $green,
//        "teal":       $teal,
//        "cyan":       $cyan,
//        "white":      $white,
//        "gray":       $gray-600,
//        "gray-dark":  $gray-800
//);

$theme-colors: (
        "dark":       $color-darkslategray
);

$navbar-dark-color: $color-darkslategray;

@import "~bootstrap/scss/bootstrap";

body, html {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.text-primary {
    color: $color-turquoise;
}

.text-secondary {
    color: $color-coral;
}

button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.logo-text-1 {
    color: $color-coral;
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
}

.logo-text-2 {
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
}

//Home

.home-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.home-text {
    width: 490px;
    margin-right: 70px;
}

.home-text-title {
    font-size: 55px;
    color:#00D4FF;
;
}

.home-text-subtitle {
    font-size: 24px;
    color: $color-coral;
}

.home-actions {
    display: flex;
    height: 70px;
    margin-top: 150px;
}

.home-btn {
    background-color: $color-turquoise;
    border-radius: 10px 0px 0px 10px;
    color: var(--color-black);
    font-weight: bold;
    font-size: 24px;
    padding: 20px 45px;
}

.home-btn:hover {
    background-color: $color-turquoise;
}

.home-btn-icon {
    border-radius: 0px 10px 10px 0px;
    width: 70px;
    background-color: #ED7947;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responsive */

@media (max-width: 1250px) {
    .home-image {
        max-width: 400px;
        height: auto;
    }
}

@media (max-width: 1250px) {
    .home-image {
        max-width: 400px;
        height: auto;
    }

    .home-text-title {
        font-size: 45px;
    }

    .home-text-subtitle {
        font-size: 20px;
    }

    .home-text {
        width: 410px;
        margin-right: 20px;
    }

    .home-btn {
        font-size: 18px;
        padding: 10px 25px;
    }

    .home-actions {
        margin-top: 50px;
    }
}

@media (max-width: 850px) {
    .home-container {
        margin-top: 50px;
    }

    .home-actions {
        height: 50px;
        justify-content: center;
    }

    .home-image {
        display: none;
    }

    .home-text {
        margin-right: 0;
        text-align: center;
        padding: 0 10px;
    }
}

//Records

.page-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 50px;
}

.filters-container.records-actions {
    justify-content: flex-end;
}

.records-table {
    width: 100%;
    border-bottom: 10px solid $color-turquoise;
    border-radius: 0 0 10px 10px;
}

.records-table thead {
    background-color: $color-turquoise;
    text-align: left;
    color: #0E1B28;
    border-radius: 10px;
}

.records-table thead tr {
    height: 50px;
}

.records-table thead th:first-child {
    padding-left: 50px;
    border-top-left-radius: 10px;
}

.records-table thead th:last-child {
    border-top-right-radius: 10px;
}

.records-table tbody td:first-child {
    padding-left: 50px;
}

.records-table tbody tr {
    height: 45px;
    color: #FFF;
    font-size: 18px;
}

.records-table tbody tr:nth-child(odd) {
    background-color: $color-darkslategray;
}

.records-table tbody tr:nth-child(even) {
    background-color: $color-dimgray;
}

.filters-container {
    background-color: var(--color-darkslategray);
    display: flex;
    justify-content: space-between;
    padding: 13px 15px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.filters-container input {
    height: 44px;
    font-weight: bold;
    font-size: 16px;
    color: #9E9E9E;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 20px;
    padding-left: 15px;
}

.filters-container input:focus {
    outline: none;
}

.filters-container button {
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    padding: 13px 60px;
}

.filters-container .clean-filters {
    background-color: $color-coral;
    color: #FFF;
    margin-left: 20px;
}

.filters-container .clean-filters:hover {
    background-color: #e07243;
}

.filters-container .action-filters {
    background-color: $color-turquoise;
    color: #0E1B28;
}

.filters-container .action-filters:hover {
    background-color: $color-turquoise;
}